<% provide(:title, 'Pokemon : ' + @pokemon.name.titleize) %>
<% provide(:favicon, @pokemon.name + '-icon.png' %>

<hgroup>
	<h1><%= @pokemon.name.titleize %></h1>
	<h2><%= format_type(@pokemon.type1, @pokemon.type2) %></h2>
</hgroup>

<h2>Base Stats</h2>
<table>
	<tr>
		<th>HP</th>
		<th>Attack</th>
		<th>Defense</th>
		<th>Sp.Atk</th>
		<th>Sp.Def</th>
		<th>Speed</th>
	</tr>
	<tr>
		<td><%= @pokemon.hp %></td>
		<td><%= @pokemon.attack %></td>
		<td><%= @pokemon.defense %></td>
		<td><%= @pokemon.spatk %></td>
		<td><%= @pokemon.spdef %></td>
		<td><%= @pokemon.speed %></td>
	</tr>
</table>

<p><%= @pokemon.name.titleize %> is adorable.</p>