<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= favicon_link_tag favicon(yield(:favicon)) %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Starter App", '#', id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Pokedex", pokedex_path %></li>
						<li><%= link_to "Battle", choose_path %></li>
						<li><%= link_to "Account", '#' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="container">

		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>

		<%= yield %>

	</div>
	
</body>
</html>
